<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
    </button>
    <span>Tinymce Angular Firestore</span>
    <span class="example-spacer"></span>
    <button class="button" mat-raised-button color="warn" routerLinkActive="active" [routerLink]="['Create']">Add Post</button>
    <button class="button" mat-raised-button color="warn" routerLinkActive="active" [routerLink]="['Read']">View Posts</button>
  
  
  </mat-toolbar>
  